<div class="container">
    <app-navbar [navstructure]="navstructure" [horizontal]="true"></app-navbar>
    <div class="main-layout">
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <app-navbar [navstructure]="navstructure2" [horizontal]="false"></app-navbar>
                </div>
                <div class="row dates">
                    <div class="dates-container"></div>
                </div>

            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-6" style="width: 500px">
                        <app-form></app-form>
                    </div>
                    <div class="col-sm-3" style="width: 200px">
                        <app-calendar></app-calendar>
                    </div>
                </div>
                <div class="row social">
                    <div class="col-sm-12">
                        <app-navsocial>
                        </app-navsocial>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>