.container {
    height: 100px;
} 

.main-layout {
    padding-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.social {
    padding-top: 20px;
}

.dates {
    padding-top: 20px;
}
.container-small {
    width: 385px;
    padding-left: auto;
    height: 300px;
    background-color: gainsboro;
}




