.navbar  {
    padding: 10 0 0 0;
    align-content:center;
}

.nav-item {
    padding-left:40px;
    padding-right: 40px;
    font-size: 14px;
    border-right: solid 1px #f2f7fc;
}
.nav-item__upper {
    text-transform: uppercase;
}
.nav-item :hover {
    padding-left:40px;
    padding-right: 40px; 
    background-color: rgb(238, 31, 31);
    -webkit-text-fill-color: white;
    border-bottom: solid 8px red;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

