<form class="container-form">
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fas fa-user"></i></span>
      </div>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username">
    </div>
  <div class="input-group mb-3">
      <div class="input-group-prepend">
          <span class="input-group-text">
              <i class="fas fa-key"></i></span>
        </div>
    <input type="password" class="form-control" id="pwd" placeholder="............." name="pswd">
  </div>
  <button type="submit" class="btn btn-primary">SIGN IN</button>
  <span class="signout"> SIGN OUT</span>
</form>